textarea {
    background: inherit;
    border: none;
}
input {
    background: inherit;
    border: none;
}
body {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}
.show {
    display: ;
}

.encode-area {
    background: #BAEEBA;
    border-left: 1px #aaa solid;
}
.decode-area {
    background: #cfc;
}
.code-block {
    padding-top: 6px;
    padding-left: 6px;
    overflow: hidden;
}
.block-content {
    float: left;
}

.name-tag {
    float: left;
    padding-right: 10px;
    background: #f5f5dc;
}
.name-tag input {
    width: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.name-tag input:focus {
    width: 100px;
}

.edit-area {
    width: 150px;
    overflow-y:visible
}
.edit-area:focus {
    width: 300px;
}

.btn {
    padding: 0 10px
}
.btn.decode {
    background: #5f9ea0;
}
.btn.encode {
    background: #cd5c5c;
}
.btn.del {
    background: #000;
    color: #fff;
}
.btn.add {
    background: #f0f8ff;
}
.btn.confirm {
    background: #008080;
}
.btn.cancel {
    background: #b22222;
}
.add-node-contol input {
    width: 100px;
}
.message {
    background: #ff0;
    color: #f00;
}
